emoji==2.12.1
python-kasa==0.7.1
librosa==0.10.0
ollama==0.3.1
pvporcupine==3.0.2
pvrecorder==1.2.2
python-dotenv==1.0.1
pyttsx3==2.90
soundfile==0.12.1
SpeechRecognition==3.10.3
spotipy==2.24.0
todoist_api_python==2.1.6
